/*--------------------------------------------------------------
# Affichage des resultat de compte lors de la recherche
--------------------------------------------------------------*/
.linkAccountPerso{
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
}


.search_unit img{
    background-color: white;
    border-radius: 5em;
    padding: 0.5em;
    width: 4em;
    height: 4em;
    margin-right: 0.5em;
}

.usersearchprofil{
    width: 30em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    padding: 0.75em;
}


/*--------------------------------------------------------------
# Affichage du formulaire de recherche
--------------------------------------------------------------*/
form{
    display: flex;
}

button{
    color: black;
    background-color: #efa236;
    padding: 1em;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    cursor:pointer;
}

h2, p{
    text-align: center;
}

