/*--------------------------------------------------------------
# Import Police Google font
--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/*--------------------------------------------------------------
# Affichage corps de page
--------------------------------------------------------------*/

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height:100vh;
    /*font-family: 'Roboto Condensed', sans-serif;*/
    font-family: 'Press Start 2P', cursive;
    overflow-x: hidden;
    cursor: url("../img/cursoraa.png"), auto;
}

/*--------------------------------------------------------------
# Header et menu version ordi
--------------------------------------------------------------*/

header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 0.5em;
    background-color: #181718;
}

.headerRegisterLogin{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search{
    background-color: #2f2d2f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search i{
    margin-right: 0.5em;
}

.logoutPseudo{
    display: flex;
}

.account img{
    background-color: white;
    border-radius: 5em;
    padding: 0.5em;
    width: 3em;
    height: 3em;
    margin-right: 1em;

}

.account, .logout{
    display: flex;
    align-items: center;

}

.logout p{
    padding: 1em;
}

.logout{
    color: red!important;
}

.headerRegisterLogin a{
    padding: 1em;
    margin: 1em;
    border-radius: 5px;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.log{
    background-color: #efa236;
}

.reg{
    background-color: red;
}


.account{
    padding: 0!important;
}

.logoContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

h1{
    font-size: 3em;
    /*font-family: 'Gajraj One', cursive;*/
    font-family: 'Press Start 2P', cursive;
}


.logo{
    width: 15em;
    animation: bouger 2s ease-in-out infinite;
}

.headerBottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerBottom ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.headerBottom li{
    list-style-type: none;
    margin: 1em;
}

.headerBottom li a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: large;
    padding: 0.5em;
    border-radius: 5px;
}

.headerBottom li a:hover{
    background-color: #2f2d2f;
    cursor: url("../img/cursorc.png"), pointer;

}

.headerBottom li a img{
    height: 2em;
    padding-right: 1em;
}

.addComment{
    align-self: flex-end;
    margin: 0.5em;
}


/*--------------------------------------------------------------
# Menu version téléphone
--------------------------------------------------------------*/

#menuToggle
{
  position: fixed;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  display: flex;
  align-items: center;
  font-size: 0.75em!important;
  transition: color 0.3s ease;
}

#menuToggle .title{
    font-size: 2em!important;
}

#menuToggle a:hover
{
  color: #efa236;
  cursor: url("../img/cursorc.png"), pointer;
}

#menu .logo{
    width: 6em;
    animation: bouger 2s ease-in-out infinite;
}

a:hover, button:hover{
    cursor: url("../img/cursorc.png"), pointer!important;
}


#menu img{
    width: 1em;
    padding-right: 1em;
    
}

#menu i{
    padding-right: 1em;
}

#menu .account img{
    width: 2em!important;
    height: 2em!important;
    padding: 0.5em;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: url("../img/cursorc.png"), pointer;
  
  opacity: 0; 
  z-index: 2;
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: white;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
  position: absolute;
  width: 40vh;
  height: 80vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}


#menuToggle input:checked ~ ul
{
  transform: none;
}


/*--------------------------------------------------------------
# Animation pour faire bouger le champignon méchant (logo)
--------------------------------------------------------------*/
@keyframes bouger {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
}


/*--------------------------------------------------------------
# Affichage du contenu principal de la page
--------------------------------------------------------------*/

main{
    flex-grow:1;
    margin-right: 5em;
    margin-left: 5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


/*--------------------------------------------------------------
# ScrollBar (pour tout navigateur sauf firefox)
--------------------------------------------------------------*/
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #22242D;
    border-radius: 10px;
  }
  
/*--------------------------------------------------------------
# Affichage footer
--------------------------------------------------------------*/

footer{
    background-color: #181718;
    color: white;
    font-size: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1em;
}

footer p, a{
    padding: 0.25em;
}

footer .nomsite{
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
    color: white;
    text-decoration: none;
    padding: 0.5em;
}


/*--------------------------------------------------------------
# Affichage des catégories dans la page home
--------------------------------------------------------------*/

.homecatname{
    text-align: center;
}

/*--------------------------------------------------------------
# Adaptation à la taille de l'écran ordi -> tel
--------------------------------------------------------------*/

@media only screen and (min-width: 768px) {
    .tel{
        display: none;
    }
    .ordi{
        display: block;
    }
}
@media only screen and (max-width: 768px) {
    .tel{
        display: block;
    }
    .ordi{
        display: none;
    }
    main{
        margin: 0;
        margin-top: 6em;
    }
    .homecatname{
        background-color: #181718;
        color: white;
        margin: 0;
        padding-top: 2em;
        padding-bottom: 2em;
        padding-left: 5em;
        width: -webkit-fill-available;
        width: -moz-available;        
        position: fixed;
        top: 0;
        font-size: 1.5em;
        text-align: start;
    }

    .lastposttitle{
        padding-top: 2em;
    }

    footer p{
        text-align: center;
        font-size: 0.75em;
    }
}

